// Variables
@import './variables.scss';

// HTML Elements
// ...............
*{
    margin: 0;
    padding: 0;
} 
body {background: $bg-body};
ul, ol{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
} 
a{
    transition: all 0.3s;
    text-decoration: none;
    color: $text-primary;
    &::after, &::before, span{
        transition: all 0.3s;
        cursor: pointer;
    }
}  

// Typography
// .................
h4{
    margin-top: $mt-gutter;
    margin-bottom: $mt-gutter/2;
}
p{
    color: $text-paragraph;
    margin-bottom: $mt-gutter;
}
.mt-heading{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: $heading-regular;
}
.mt-mod-title{
    text-transform: uppercase;
    span{
        color: $color-gry;
        display: block;
        font-weight: 300;
    }
}
.mt-sec-title{
    color: transparent;
    -webkit-text-stroke: 1px $text-fade;
    text-transform: uppercase;
    font-size: $heading-jumbo;
    line-height: 1.3;
    margin-bottom: $heading-regular;
}
.mt-jumbo-title{
    font-size: $heading-jumbo;
    text-transform: uppercase;
    > span {
        display: block;
        color: $text-fade;
    }
}
.mt-sub-title{
    color: $text-black;
    -webkit-text-stroke: 0;
    display: block;
    font-size: $heading-regular;
    font-weight: bold;
}

.mt-supper-heading{
    color: $text-black;
    -webkit-text-stroke: 0;
    display: block;
    font-size: $heading-regular;
    font-weight: bold;
}




// Layout
// .................
.container-fluid{
    padding-left: 100px;
    padding-right: 100px;
}

// General Helper Classes
//.......................
.mt-icon {
    max-width: 50px;
}
.mt-left-bracket{
    border-left: 1px solid $color-black;
    padding-left: $mt-gutter;
    padding-top: $mt-gutter;
    padding-bottom: $mt-gutter;
    position: relative;

    &::before{
        content: '';
        width: 30px;
        height: 1px;
        background: $color-black;
        position: relative;
        display: block;
        left: - $mt-gutter;
        top: - $mt-gutter;
    }
    &::after{
        content: '';
        width: 30px;
        height: 1px;
        background: $color-black;
        position: relative;
        display: block;
        left: - $mt-gutter;
        bottom: - $mt-gutter;
    }
}



// Component spesific
// .....................
// menu
.mt-menu{
    margin-top: 15px;
    &.inline{
        li{
            float: left;
            margin: 5px 15px;
            a{
                text-transform: uppercase;
                color: $top-bar-menu-color;
            }
        }
    }
}
// Buttons
.mt-btn{
    text-transform: uppercase;
    &.header-cta{
        background-image: linear-gradient(45deg, $color-secondary, $color-tertiary);
        padding: 6px 35px;
        text-align: center;
        color: $color-white;
        font-weight: $boldest;
        display: inline-block;
        border: 1px solid $color-white;
    }
}
.mt-btn-cta{
    display: inline-block;
    width: auto;
    margin: auto;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: #F8FBFF;
        border: 1px solid #0F0F0F;
        top: -9px;
        left: 9px;
    }
    &::after{
        content: "";
        position: absolute;
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: #F8FBFF;
        border: 1px solid #0F0F0F;
        bottom: -9px;
        left: 9px;
    }
    > span{
        padding: 9px 30px;
        color: $color-tertiary;
        background: $color-white;
        &::before{
            content: "";
            position: absolute;
            display: inline-block;
            width: 6px;
            height: 6px;
            background-color: #F8FBFF;
            border: 1px solid #0F0F0F;
            top: -9px;
            right: 9px;
        }
        &::after{
            content: "";
            position: absolute;
            display: inline-block;
            width: 6px;
            height: 6px;
            background-color: #F8FBFF;
            border: 1px solid #0F0F0F;
            bottom: -9px;
            right: 9px;
        }
    }
    &:hover{
        span{
            background: $color-tertiary;
            color: $text-white;
        }
    }
}
.mt-btn-primary{
    background: $color-white;
    border: 1px solid $color-primary;
    padding: 7px 15px;
}
.mt-btn-secondary{
    background: $color-white;
    border: 1px solid $color-tertiary;
    color: $color-tertiary;
    padding: 7px 15px;
}

// Boxes
.mt-box-primary{
    background-color: $box-primary-bg;
    border: $box-primary-border;
    border-radius: $box-primary-radius;
    padding: $box-primary-padding;
    color: $box-primary-text-color;
}
.mt-jumbotron{
    border: 1px solid $color-black;
    text-align: center;
    padding: $mt-gutter * 1.5;
    background: $color-dark-blue;
    .mt-supper-heading{
        color: $color-white;
    }
    .mt-heading{
        color: $color-tertiary;
    }
}
// Gallery
.mt-flex-gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    img{
        max-height: 70px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}


// Section / Position spesific
// ...........................

.mt-section{
    padding: $mt-section-padding 0;
}

// Header
.mt-header{
    background-color: $bg-header;
    padding: 15px 0;
    .mt-btn-secondary{
        display: inline-block;
        background: transparent;
        margin-top: 12px;
        color: $text-white;
    }
}

// Hero
.mt-hero{
    background: $color-primary;
    padding-top: $mt-section-padding * 1.5;
    padding-bottom: $mt-section-padding * 1.5;
    .mt-supper-heading{
        color: $color-white;
    }
}

// Services
.mt-service{
    p, .mt-mod-title, .mt-btn{
        margin-left: 50px;
    }

}

// Process

// Override
// .................
// Bootstrap
.text-primary{
    color: $text-primary !important;
}
// Slick
.slick-dots{
    text-align: left !important;
    li {
        button:before{
            font-family: none !important;
            font-size: 0 !important;
            line-height: 0 !important;
            width: 20px !important;
            height: 5px !important;
            border-radius: 3px;
            content: '';
            text-align: center;
            opacity: none;
            color: black;
            background: $color-black;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}
