* {
  margin: 0;
  padding: 0;
}

body {
  background: #F8FBFF;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: #272DC1;
}

a::after, a::before, a span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

h4 {
  margin-top: 30px;
  margin-bottom: 15px;
}

p {
  color: #666666;
  margin-bottom: 30px;
}

.mt-heading {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 35px;
}

.mt-mod-title {
  text-transform: uppercase;
}

.mt-mod-title span {
  color: #666666;
  display: block;
  font-weight: 300;
}

.mt-sec-title {
  color: transparent;
  -webkit-text-stroke: 1px #a8a8a8;
  text-transform: uppercase;
  font-size: 84px;
  line-height: 1.3;
  margin-bottom: 35px;
}

.mt-jumbo-title {
  font-size: 84px;
  text-transform: uppercase;
}

.mt-jumbo-title > span {
  display: block;
  color: #a8a8a8;
}

.mt-sub-title {
  color: #0F0F0F;
  -webkit-text-stroke: 0;
  display: block;
  font-size: 35px;
  font-weight: bold;
}

.mt-supper-heading {
  color: #0F0F0F;
  -webkit-text-stroke: 0;
  display: block;
  font-size: 35px;
  font-weight: bold;
}

.container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}

.mt-icon {
  max-width: 50px;
}

.mt-left-bracket {
  border-left: 1px solid #0F0F0F;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.mt-left-bracket::before {
  content: '';
  width: 30px;
  height: 1px;
  background: #0F0F0F;
  position: relative;
  display: block;
  left: -30px;
  top: -30px;
}

.mt-left-bracket::after {
  content: '';
  width: 30px;
  height: 1px;
  background: #0F0F0F;
  position: relative;
  display: block;
  left: -30px;
  bottom: -30px;
}

.mt-menu {
  margin-top: 15px;
}

.mt-menu.inline li {
  float: left;
  margin: 5px 15px;
}

.mt-menu.inline li a {
  text-transform: uppercase;
  color: #F8FBFF;
}

.mt-btn {
  text-transform: uppercase;
}

.mt-btn.header-cta {
  background-image: linear-gradient(45deg, #E75E16, #F03726);
  padding: 6px 35px;
  text-align: center;
  color: #F8FBFF;
  font-weight: 700;
  display: inline-block;
  border: 1px solid #F8FBFF;
}

.mt-btn-cta {
  display: inline-block;
  width: auto;
  margin: auto;
  position: relative;
}

.mt-btn-cta::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #F8FBFF;
  border: 1px solid #0F0F0F;
  top: -9px;
  left: 9px;
}

.mt-btn-cta::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #F8FBFF;
  border: 1px solid #0F0F0F;
  bottom: -9px;
  left: 9px;
}

.mt-btn-cta > span {
  padding: 9px 30px;
  color: #F03726;
  background: #F8FBFF;
}

.mt-btn-cta > span::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #F8FBFF;
  border: 1px solid #0F0F0F;
  top: -9px;
  right: 9px;
}

.mt-btn-cta > span::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #F8FBFF;
  border: 1px solid #0F0F0F;
  bottom: -9px;
  right: 9px;
}

.mt-btn-cta:hover span {
  background: #F03726;
  color: #F8FBFF;
}

.mt-btn-primary {
  background: #F8FBFF;
  border: 1px solid #272DC1;
  padding: 7px 15px;
}

.mt-btn-secondary {
  background: #F8FBFF;
  border: 1px solid #F03726;
  color: #F03726;
  padding: 7px 15px;
}

.mt-box-primary {
  background-color: #272DC1;
  border: 0 none;
  border-radius: 0 none;
  padding: 15px;
  color: #F8FBFF;
}

.mt-jumbotron {
  border: 1px solid #0F0F0F;
  text-align: center;
  padding: 45px;
  background: #090A38;
}

.mt-jumbotron .mt-supper-heading {
  color: #F8FBFF;
}

.mt-jumbotron .mt-heading {
  color: #F03726;
}

.mt-flex-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mt-flex-gallery img {
  max-height: 70px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.mt-section {
  padding: 90px 0;
}

.mt-header {
  background-color: #272DC1;
  padding: 15px 0;
}

.mt-header .mt-btn-secondary {
  display: inline-block;
  background: transparent;
  margin-top: 12px;
  color: #F8FBFF;
}

.mt-hero {
  background: #272DC1;
  padding-top: 135px;
  padding-bottom: 135px;
}

.mt-hero .mt-supper-heading {
  color: #F8FBFF;
}

.mt-service p, .mt-service .mt-mod-title, .mt-service .mt-btn {
  margin-left: 50px;
}

.text-primary {
  color: #272DC1 !important;
}

.slick-dots {
  text-align: left !important;
}

.slick-dots li button:before {
  font-family: none !important;
  font-size: 0 !important;
  line-height: 0 !important;
  width: 20px !important;
  height: 5px !important;
  border-radius: 3px;
  content: '';
  text-align: center;
  opacity: none;
  color: black;
  background: #0F0F0F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*# sourceMappingURL=main.css.map */